
/************************


  Author:Lainie
  time:2016-07-02
  document:index.html (button)

 ************************/
 .disLine_Block{ display: inline-block;}

 
 .btn_Shadow{ 
 	box-shadow: 1px 1px 3px 1px #999999;
	-webkit-box-shadow: 1px 1px 3px 1px #999999;
	-moz-box-shadow: 1px 1px 3px 1px #999999;
}
 
 .cursor_Default{ cursor: default;}
 
.Gradient_Blue{
	border-radius:3px;
	border:none;
	box-shadow:1px 1px 3px 1px #999999;
	-webkit-box-shadow:1px 1px 3px 1px #999999;
	-moz-box-shadow:1px 1px 3px 1px #999999;
	
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#71d0f5+0,42bbea+39,339cd8+100 */
	background: #71d0f5; /* Old browsers */
	background: -moz-linear-gradient(top,  #71d0f5 0%, #42bbea 39%, #339cd8 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #71d0f5 0%,#42bbea 39%,#339cd8 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #71d0f5 0%,#42bbea 39%,#339cd8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#71d0f5', endColorstr='#339cd8',GradientType=0 ); /* IE6-9 */
}

.Gradient_Blue:hover{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#339cd8+0,42bbea+55,90ddfb+100 */
	background: #339cd8; /* Old browsers */
	background: -moz-linear-gradient(top,  #339cd8 0%, #42bbea 55%, #90ddfb 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #339cd8 0%,#42bbea 55%,#90ddfb 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #339cd8 0%,#42bbea 55%,#90ddfb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#339cd8', endColorstr='#90ddfb',GradientType=0 ); /* IE6-9 */
}

.Gradient_Green{
	border-radius: 3px;
    border: none;
    box-shadow:1px 1px 3px 1px #999999;
	-webkit-box-shadow:1px 1px 3px 1px #999999;
	-moz-box-shadow:1px 1px 3px 1px #999999;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c9db8b+0,a7cc2e+100 */
	background: #c9db8b; /* Old browsers */
	background: -moz-linear-gradient(top,  #c9db8b 0%, #a7cc2e 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #c9db8b 0%,#a7cc2e 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #c9db8b 0%,#a7cc2e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9db8b', endColorstr='#a7cc2e',GradientType=0 ); /* IE6-9 */
}

.Gradient_Green:hover{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a7cc2e+0,c9db8b+100 */
	background: #a7cc2e; /* Old browsers */
	background: -moz-linear-gradient(top,  #a7cc2e 0%, #c9db8b 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #a7cc2e 0%,#c9db8b 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #a7cc2e 0%,#c9db8b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cc2e', endColorstr='#c9db8b',GradientType=0 ); /* IE6-9 */
}
 
.Gradient_Orange{
	border-radius: 3px;
    border: none;
    box-shadow:1px 1px 3px 1px #999999;
	-webkit-box-shadow:1px 1px 3px 1px #999999;
	-moz-box-shadow:1px 1px 3px 1px #999999;
	 /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9d201+0,e18c09+100 */
	background: #f9d201; /* Old browsers */
	background: -moz-linear-gradient(top,  #f9d201 0%, #e18c09 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #f9d201 0%,#e18c09 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #f9d201 0%,#e18c09 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9d201', endColorstr='#e18c09',GradientType=0 ); /* IE6-9 */
}

.Gradient_Orange:hover{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e18c09+1,f9d201+100 */
	background: #e18c09; /* Old browsers */
	background: -moz-linear-gradient(top,  #e18c09 1%, #f9d201 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #e18c09 1%,#f9d201 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #e18c09 1%,#f9d201 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e18c09', endColorstr='#f9d201',GradientType=0 ); /* IE6-9 */
}


.Gradient_Red{
	border-radius:3px;
	border:none;
	box-shadow:1px 1px 3px 1px #999999;
	-webkit-box-shadow:1px 1px 3px 1px #999999;
	-moz-box-shadow:1px 1px 3px 1px #999999;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f68787+0,c53234+100 */
	background: #f68787; /* Old browsers */
	background: -moz-linear-gradient(top,  #f68787 0%, #c53234 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #f68787 0%,#c53234 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #f68787 0%,#c53234 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f68787', endColorstr='#c53234',GradientType=0 ); /* IE6-9 */
}

.Gradient_Red:hover{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c53234+0,f68787+99 */
	background: #c53234; /* Old browsers */
	background: -moz-linear-gradient(top,  #c53234 0%, #f68787 99%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #c53234 0%,#f68787 99%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #c53234 0%,#f68787 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c53234', endColorstr='#f68787',GradientType=0 ); /* IE6-9 */
}

.Gradient_Brown{
	color:#757474;
	border-radius:3px;
	border:none;
	box-shadow:1px 1px 3px 1px #999999;
	-webkit-box-shadow:1px 1px 3px 1px #999999;
	-moz-box-shadow:1px 1px 3px 1px #999999;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,fdf7e7+23,fdf7e7+23,d7d2c4+51,c9c4b8+77,bfbaac+100 */
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #fdf7e7 23%, #fdf7e7 23%, #d7d2c4 51%, #c9c4b8 77%, #bfbaac 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#fdf7e7 23%,#fdf7e7 23%,#d7d2c4 51%,#c9c4b8 77%,#bfbaac 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #ffffff 0%,#fdf7e7 23%,#fdf7e7 23%,#d7d2c4 51%,#c9c4b8 77%,#bfbaac 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#bfbaac',GradientType=0 ); /* IE6-9 */
}

.Gradient_Brown:hover{
	color:#fff;
	text-shadow:1px 1px 3px #71716f;
	
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bfbaac+0,c9c4b8+24,d7d2c4+52,fdf7e7+86,ffffff+100 */
	background: #bfbaac; /* Old browsers */
	background: -moz-linear-gradient(top,  #bfbaac 0%, #c9c4b8 24%, #d7d2c4 52%, #fdf7e7 86%, #ffffff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #bfbaac 0%,#c9c4b8 24%,#d7d2c4 52%,#fdf7e7 86%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #bfbaac 0%,#c9c4b8 24%,#d7d2c4 52%,#fdf7e7 86%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfbaac', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.btn_Width > .btn {    
	width: 100%;
    height: 44px;
	text-align: center;
    vertical-align: middle;
}

.txt_Check{
	color:#fe1919;
	font-weight:600;
	font-size: 1.125em;
}

.btn_Close_details{
	width: 200px;
    height: 36px;
	font-size: 1.125em;
	font-family:"微軟正黑體",Arial, Helvetica, sans-serif;
}

div.id_Card_Number_Group > div > p {
	margin-left:10px;
	margin-right:10px;
}

div.id_Card_details_Group , div.id_Card_details_Group_02 , div.id_Card_details_Group_03{
	width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.btn_Close_details_Position{
		width:30%;
		margin-left:auto;
		margin-right:auto;
}

@media (min-width: 768px) {  /**桌機版*/
	.btn_Width{    
		width: 200px;
		height: 44px;
		line-height: 44px;
    	padding: 0px;
	}
	
	.btn_sm_Width{    
		width: 100px;
		height: 44px;
		line-height: 44px;
    	padding: 0px;
	}
	
	.btn_Width_100{ width: 100px;}
	
	.btn_goBack_Group{text-align: center;}
}

@media (max-width: 768px) { /**手機版*/
	.btn_Width , .btn_sm_Width{
		width: 100%;
		height: 44px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 5px;
		margin-bottom: 5px;
		line-height: 44px;
		padding: 0px;
		display: inline-block;
	}
	
	.btn_Close_details_Position{
		width:80%;
		margin-left:auto;
		margin-right:auto;
	}
	.btn_Close_details{
		width:100%;
		height:44px;
		line-height:44px;
		text-align:center;
	}
	
	img{
		width: 100%;
		height: auto;
	}
	
	.btn_dis_Block{display: block;}
}

