
/************************

  Author:Lainie
  time:2016-07-01
  document:index.html

 ************************/
 .lft{float:left;}
 .rig{float:right;}
 .clr{clear:both;}
 
 body{
	 font-family:"微軟正黑體",Arial, Helvetica, sans-serif;
	 background:url(../images/BG.png) no-repeat center center;	 
	 background-size:cover;	 
	 background-attachment: fixed;
}
 
 .wrapper{
	 width:100%;
	 height:100%;
	 margin: 0 auto;
}

div.content_BG{
	background:url(../images/BG.png) no-repeat center center;	
	background-attachment:fixed;
	background-size: cover;
}

@media (max-width: 768px) { /**手機版*/
	img{
		width:100%;
		height:auto;
	}
}

 
 