
/************************

  Author:Lainie
  time:2016-07-03
  document:index.html (txt_style)

 ************************/
.txt_family{font-family:"微軟正黑體",Arial, Helvetica, sans-serif;}
.txt_Weight{  font-weight: bold;}
.txt_Size{font-size: 1em;}
.txtC{text-align:center;}
.txt_Red{color:#d9534f;}

.margin_Right10{  margin-right: 10px;}
.margin_Right{  margin-right: 20px;}
.margin_Bottom15{ margin-bottom: 15px;}
.margin_Bottom{margin-bottom: 25px;}
.margin_Top{margin-top:10px;}
.margin_Top20{margin-top:20px;}
.margin_Top50{margin-top:50px;}
.margin_Left{margin-left: 10px;}
.margin_Left0{margin-left: 0px;}
.margin_Right0{  margin-right: 0px;}


.min_Width{min-width: 100px;}
.max_Width70{max-width: 70%;}
.vertical_Align{vertical-align: middle!important;}

hr.LineStyle{
	border:0; 
	height:1px;
	border-bottom: 2px solid #ddd;
	margin-top: 0;
	margin-bottom: 5px;
}

h1{ 
	font-size: 1.5em;    
	text-align: center;
	padding-top:15px;
	padding-bottom:15px;
	font-family:"微軟正黑體",Arial, Helvetica, sans-serif;
}

h2.txt_title_information{
	font-size: 1.125em;
    padding-top: 15px;
    padding-bottom: 7px;
    font-family: "微軟正黑體",Arial, Helvetica, sans-serif;
	margin-bottom: -1px;
	margin-top: 41px;
	color: #5a400f;
	/*text-shadow: 1px 1px 10px #f6f1db;*/
    font-weight: 600;
}

.txt_title_Bord_Gradient{
	padding: 5px 0 0 0;
    width: 135px;
    line-height: 23px;
	text-align: center;
    border: 1px solid #c9c9c9;	
    border-width: 1px 1px 0 1px;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
	/*漸層*/
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #fcfcfc 26%, #dddddd 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%,#fcfcfc 26%,#dddddd 100%);
    background: linear-gradient(to bottom, #ffffff 0%,#fcfcfc 26%,#dddddd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dddddd',GradientType=0 );
}

.badge_Width{
	border-radius: 50%;
	behavior: url(../images/border-radius.htc);/*針對ie8*/
    width: 20px;
    height: 20px;
	display: inline;
	margin-left: 5px;
	padding: 2px 7px;
	font-family:"微軟正黑體",Arial, Helvetica, sans-serif;
}

.badge-lemon{
	background:#def4aa;
	color:#666;
}

.bacg_pc_Position{
	position:absolute;
	top: 3px;
    left: 33px;
	padding:3px;
}