<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--兼容ie 使用chrome-->
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="keywords" content="" />
<title>MT4客戶管理</title>

<style>
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

/*.logo{position:relative;z-index:123;padding:10px;font:18px verdana;color:#6DDB07;float:left;width:15%}
.logo a{color:#6DDB07;}
nav{position:relative;width:980px;margin:0 auto;}
#cssmenu,#cssmenu ul,#cssmenu ul li,#cssmenu ul li a,#cssmenu #head-mobile{border:0;list-style:none;line-height:1;display:block;position:relative;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
#cssmenu:after,#cssmenu > ul:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}
#cssmenu #head-mobile{display:none}
#cssmenu{font-family:sans-serif;background:#333}
#cssmenu > ul > li{float:left}
#cssmenu > ul > li > a{padding:17px;font-size:12px;letter-spacing:1px;text-decoration:none;color:#ddd;font-weight:700;}
#cssmenu > ul > li:hover > a,#cssmenu ul li.active a{color:#fff}
#cssmenu > ul > li:hover,#cssmenu ul li.active:hover,#cssmenu ul li.active,#cssmenu ul li.has-sub.active:hover{background:#448D00!important;-webkit-transition:background .3s ease;-ms-transition:background .3s ease;transition:background .3s ease;}
#cssmenu > ul > li.has-sub > a{padding-right:30px}
#cssmenu > ul > li.has-sub > a:after{position:absolute;top:22px;right:11px;width:8px;height:2px;display:block;background:#ddd;content:''}
#cssmenu > ul > li.has-sub > a:before{position:absolute;top:19px;right:14px;display:block;width:2px;height:8px;background:#ddd;content:'';-webkit-transition:all .25s ease;-ms-transition:all .25s ease;transition:all .25s ease}
#cssmenu > ul > li.has-sub:hover > a:before{top:23px;height:0}
#cssmenu ul ul{position:absolute;left:-9999px}
#cssmenu ul ul li{height:0;-webkit-transition:all .25s ease;-ms-transition:all .25s ease;background:#333;transition:all .25s ease}
#cssmenu ul ul li:hover{}
#cssmenu li:hover > ul{left:auto}
#cssmenu li:hover > ul > li{height:35px}
#cssmenu ul ul ul{margin-left:100%;top:0}
#cssmenu ul ul li a{border-bottom:1px solid rgba(150,150,150,0.15);padding:11px 15px;width:170px;font-size:12px;text-decoration:none;color:#ddd;font-weight:400;}
#cssmenu ul ul li:last-child > a,#cssmenu ul ul li.last-item > a{border-bottom:0}
#cssmenu ul ul li:hover > a,#cssmenu ul ul li a:hover{color:#fff}
#cssmenu ul ul li.has-sub > a:after{position:absolute;top:16px;right:11px;width:8px;height:2px;display:block;background:#ddd;content:''}
#cssmenu ul ul li.has-sub > a:before{position:absolute;top:13px;right:14px;display:block;width:2px;height:8px;background:#ddd;content:'';-webkit-transition:all .25s ease;-ms-transition:all .25s ease;transition:all .25s ease}
#cssmenu ul ul > li.has-sub:hover > a:before{top:17px;height:0}
#cssmenu ul ul li.has-sub:hover,#cssmenu ul li.has-sub ul li.has-sub ul li:hover{background:#363636;}
#cssmenu ul ul ul li.active a{border-left:1px solid #333}
#cssmenu > ul > li.has-sub > ul > li.active > a,#cssmenu > ul ul > li.has-sub > ul > li.active> a{border-top:1px solid #333}

@media screen and (max-width:700px){
.logo{position:absolute;top:0;left: 0;width:100%;height:46px;text-align:center;padding:10px 0 0 0 ;float:none}
.logo2{display:none}
nav{width:100%;}
#cssmenu{width:100%}
#cssmenu ul{width:100%;display:none}
#cssmenu ul li{width:100%;border-top:1px solid #444}
#cssmenu ul li:hover{background:#363636;}
#cssmenu ul ul li,#cssmenu li:hover > ul > li{height:auto}
#cssmenu ul li a,#cssmenu ul ul li a{width:100%;border-bottom:0}
#cssmenu > ul > li{float:none}
#cssmenu ul ul li a{padding-left:25px}
#cssmenu ul ul li{background:#333!important;}
#cssmenu ul ul li:hover{background:#363636!important}
#cssmenu ul ul ul li a{padding-left:35px}
#cssmenu ul ul li a{color:#ddd;background:none}
#cssmenu ul ul li:hover > a,#cssmenu ul ul li.active > a{color:#fff}
#cssmenu ul ul,#cssmenu ul ul ul{position:relative;left:0;width:100%;margin:0;text-align:left}
#cssmenu > ul > li.has-sub > a:after,#cssmenu > ul > li.has-sub > a:before,#cssmenu ul ul > li.has-sub > a:after,#cssmenu ul ul > li.has-sub > a:before{display:none}
#cssmenu #head-mobile{display:block;padding:23px;color:#ddd;font-size:12px;font-weight:700}
.button{width:55px;height:46px;position:absolute;right:0;top:0;cursor:pointer;z-index: 12399994;}
.button:after{position:absolute;top:22px;right:20px;display:block;height:4px;width:20px;border-top:2px solid #dddddd;border-bottom:2px solid #dddddd;content:''}
.button:before{-webkit-transition:all .3s ease;-ms-transition:all .3s ease;transition:all .3s ease;position:absolute;top:16px;right:20px;display:block;height:2px;width:20px;background:#ddd;content:''}
.button.menu-opened:after{-webkit-transition:all .3s ease;-ms-transition:all .3s ease;transition:all .3s ease;top:23px;border:0;height:2px;width:19px;background:#fff;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg)}
.button.menu-opened:before{top:23px;background:#fff;width:19px;-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg)}
#cssmenu .submenu-button{position:absolute;z-index:99;right:0;top:0;display:block;border-left:1px solid #444;height:46px;width:46px;cursor:pointer}
#cssmenu .submenu-button.submenu-opened{background:#262626}
#cssmenu ul ul .submenu-button{height:34px;width:34px}
#cssmenu .submenu-button:after{position:absolute;top:22px;right:19px;width:8px;height:2px;display:block;background:#ddd;content:''}
#cssmenu ul ul .submenu-button:after{top:15px;right:13px}
#cssmenu .submenu-button.submenu-opened:after{background:#fff}
#cssmenu .submenu-button:before{position:absolute;top:19px;right:22px;display:block;width:2px;height:8px;background:#ddd;content:''}
#cssmenu ul ul .submenu-button:before{top:12px;right:16px}
#cssmenu .submenu-button.submenu-opened:before{display:none}
#cssmenu ul ul ul li.active a{border-left:none}
#cssmenu > ul > li.has-sub > ul > li.active > a,#cssmenu > ul ul > li.has-sub > ul > li.active > a{border-top:none}
}*/
</style>


<link href="css/common.css" rel="stylesheet" type="text/css">

<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!-- Custom Theme files -->
<!--theme-style-->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />	
<!--//theme-style-->
<!--引用元素 css-->
<link href="css/xenon-core.css" rel="stylesheet" type="text/css" media="all" />

<!--引用 date table-->
<link href="css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">
<!--引用 RWD table css-->
<link href="css/responsive.dataTables.min.css" rel="stylesheet" type="text/css">
<!--引用 bootstrap skin style-->
<link href="css/bootstrap.min.css" rel="stylesheet"/>
<!--引用兼容ie bootstrap ui css-->
<link href="css/bootstrap-ie7.css" rel="stylesheet" type="text/css" media="all" />

<!--fonts-->
<link href="css/font_style.css" rel="stylesheet" type="text/css" media="all" />
<link href='http://fonts.useso.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
<link href='http://fonts.useso.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'><!--//fonts-->
<link href="css/font-awesome.min.css" rel="stylesheet" />

<!--引用 表單樣式 css-->
<link href="css/xenon-forms.css" rel="stylesheet" type="text/css">
<!--引用 表單核心 css-->
<link href="css/xenon-core.css" rel="stylesheet" type="text/css">
<!--引用 下拉選單selectBoxIt css-->
<link href="css/jquery.selectBoxIt.css" rel="stylesheet" type="text/css">
<!--引用兼容ie bootstrap ui css-->
<link href="css/bootstrap-ie7.css" rel="stylesheet" type="text/css" media="all" />

<!--自寫 css-->
<link href="css/menu.css" rel="stylesheet" type="text/css">
<link href="css/txt_style.css" rel="stylesheet" type="text/css">
<link href="css/table_style.css" rel="stylesheet" type="text/css">
<link href="css/button.css" rel="stylesheet" type="text/css">
<link href="css/form_style.css" rel="stylesheet" type="text/css">
<!--修改引用pagination的樣式-->
<link href="css/pagination_modity.css" rel="stylesheet" type="text/css">

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
  <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
  <script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
  
</head>
<body>

<!--phone選單列start-->
<!--<div class="phone_MenuGroup" id="phone_MenuGroup">
	<span class="btn_close" id="BTN_CLOSE">&times;</span>
    <ul>
        <li><a href="#">行政管理</a>
        	<ul class="sub_menu" id="sub_Menu_01">
                <li><a href="#">使用者管理</a></li>
                <li><a href="#">信件管理</a></li>
                <li><a href="#">郵件紀錄</a></li>
                <li><a href="#">匯率管理</a></li> 
                <li><a href="#" >角色管理</a></li>
                <li><a href="#">階級設定</a></li>
                <li><a href="#">佣金設定</a></li>
                <li><a href="#">訊息管理<span class="badge badge-red badge_Width">1</span></a></li>
                <li><a href="#">諮詢服務<span class="badge badge-red badge_Width">1</span></a></li>
            </ul>
        </li>
        <li><a href="#">MT4專案<span class="badge badge-red badge_Width">1</span></a>
        	<ul class="sub_menu" id="sub_Menu_02">
            	<li><a href="#">新增大IB群組</a></li>
                <li><a href="#">人員審核<span class="arrow_down"></span></a>
                	<ul class="child_sub_menu" id="child_sub_Menu_02">
                    	<li><a href="customer_Account_Check.html">客戶開戶審核<span class="badge badge-red badge_Width">1</span></a></li>
                        <li><a href="#">顧問開戶審核<span class="badge badge-red badge_Width">1</span></a></li>
                        <li><a href="Sub_Account_Check.html">子帳號開戶審核<span class="badge badge-red badge_Width">1</span></a></li>
                     </ul>
                </li>
                <li><a href="#">人員管理<span class="arrow_down"></span></a>
                	<ul class="child_sub_menu" id="child_sub_Menu_03">
                        <li><a href="#">大IB管理</a></li>
                        <li><a href="#">顧問管理</a></li>
                        <li><a href="customer_Manage.html">客戶管理</a></li>
                	</ul>
                </li>
                <li><a href="#">佣金報表<span class="arrow_down"></span></a>
                	<ul class="child_sub_menu" id="child_sub_Menu_04">
                        <li><a href="organization_Bonus.html">組織獎金</a></li>
                        <li><a href="#">直客獎金</a></li>
               		</ul>
                </li>
                <li><a href="#">發佣明細<span class="arrow_down"></span></a>
                	<ul class="child_sub_menu" id="child_sub_Menu_05">
                        <li><a href="#">佣金存入/提款<span class="badge badge-red badge_Width">1</span></a></li>
                        <li><a href="#">存提款紀錄</a></li>
                        <li><a href="#">客戶交易報表</a></li>
                	</ul>
                </li>
                <li class="end"><a href="#">客戶資金管理<span class="arrow_down"></span></a>
                	<ul class="child_sub_menu" id="child_sub_Menu_06">
                        <li><a href="#">出入金管理</a></li>
                        <li><a href="#">入金管理<span class="badge badge-red badge_Width">1</span></a></li>
                        <li><a href="#">出金管理<span class="badge badge-red badge_Width">1</span></a></li>
                	</ul>
            	</li>
        	</ul>
        </li>
        <li><a href="#">贈金專案<span class="badge badge-red badge_Width">1</span></a>
        	<ul class="sub_menu" id="sub_Menu_03">
            	<li><a href="#">新增大IB群組</a></li>
                <li><a href="#">人員審核<span class="arrow_down"></span></a>
                	<ul class="child_sub_menu" id="child_menu_03_2">
                    	<li><a href="#">客戶開戶審核<span class="badge badge-red badge_Width">1</span></a></li>
                        <li><a href="#">顧問開戶審核<span class="badge badge-red badge_Width">1</span></a></li>
                     </ul>
                </li>
                <li><a href="#">人員管理<span class="arrow_down"></span></a>
                	<ul class="child_sub_menu" id="child_menu_03_3">
                    	<li><a href="#">大IB管理</a></li>
                        <li><a href="#">顧問管理</a></li>
                        <li><a href="#">客戶管理</a></li>
                	</ul>
                </li>
                <li><a href="#">獎金報表</a></li>
                <li><a href="#">客戶利息報表</a></li>
                <li><a href="#">發佣明細<span class="arrow_down"></span></a>
                	<ul class="child_sub_menu" id="child_menu_03_6">
                    	<li><a href="#">佣金存入/提款<span class="badge badge-red badge_Width">1</span></a></li>
                        <li><a href="#">存提款紀錄</a></li>
                	</ul>
                </li>
                <li class="end"><a href="#">客戶資金管理<span class="arrow_down"></span></a>
                	<ul class="child_sub_menu" id="child_menu_03_7">
                    	<li><a href="#">出入金管理</a></li>
                      <li><a href="#">入金管理<span class="badge badge-red badge_Width">1</span></a></li>
                        <li><a href="#">出金管理<span class="badge badge-red badge_Width">1</span></a></li>
                	</ul>
                </li>
        	</ul>
        </li>
        <li><a href="#">切換語系</a></li>
        <li><a href="#">開戶</a></li>
        <li><a href="#">提款</a></li>
        <li><a href="#">提款</a></li>
        <li><a href="#">提款</a></li>
        <li><a href="#">提款</a></li>
    </ul>
</div>
<div class="mask" id="Mask"></div>-->
<!--phone選單列end------>
            
            
<!--header-->
<div class="header">
	<div class="header-top">
		<div class="container">			
			<div class="header-left">		
					<ul>
						<li><a href="#">切換語系</a></li>
						<li><a  href="#">開戶<span class="badge badge-lemon badge_Width bacg_pc_Position">1</span></a></li>
                        <li><a  href="#">提款<span class="badge badge-lemon badge_Width bacg_pc_Position">1</span></a></li>
                        <li><a  href="#">提款</a></li>
                        <li><a  href="#">提款</a></li>
                        <li><a  href="#">提款<span class="badge badge-lemon badge_Width bacg_pc_Position">45</span></a></li>
					</ul>
					<div class="clearfix"> </div>
			</div>
				<div class="clearfix"> </div>
		</div>
		</div>
		<div class="container">
			<div class="head-top">
				<div class="logo">
					<a href="index.html"><img src="images/logo.png" alt=""></a>	
				</div>
                
		  <!-----------------桌機版menu start---------------->
           <!-- <div class="nav rig">
                <ul class="menu">
                    <li><a href="#"> 行政管理</a>
                        <ul class="sub-menu" id="Sub_menu_01">
                            <li><a href="#">使用者管理</a></li>
                            <li><a href="#">信件管理</a></li>
                            <li><a href="#">郵件紀錄</a></li>
                            <li><a href="#">匯率管理</a></li> 
                            <li><a href="#" >角色管理</a></li>
                            <li><a href="#">階級設定</a></li>
                            <li><a href="#">佣金設定</a></li>
                            <li><a href="#">訊息管理<span class="tip_txt">1</span></a></li>
                            <li><a href="#">諮詢服務<span class="tip_txt">1</span></a></li>
                        </ul>
                    </li>
                    <li><a href="#">MT4專案<span class="tip_txt">6</span></a>
                        <ul class="sub-menu sub-menu_02" id="Sub_menu_02">
                            <li><a href="#">新增大IB群組</a></li>
                            <li><a href="#">人員審核<span class="arrow_down"></span></a>
                                <ul class="sub-menu" id="child_menu_02">
                                    <li><a href="customer_Account_Check.html">客戶開戶審核<span class="tip_txt">1</span></a></li>
                                    <li><a href="#">顧問開戶審核<span class="tip_txt">1</span></a></li>
                                    <li><a href="Sub_Account_Check.html">子帳號開戶審核<span class="tip_txt">1</span></a></li>
                                </ul>
                            </li>
                            <li><a href="#">人員管理<span class="arrow_down"></span></a>
                                <ul class="sub-menu" id="child_menu_03">
                                    <li><a href="#">大IB管理</a></li>
                                    <li><a href="#">顧問管理</a></li>
                                    <li><a href="customer_Manage.html">客戶管理</a></li>
                                </ul>
                            </li>
                            <li><a href="#">佣金報表<span class="arrow_down"></span></a>
                                <ul class="sub-menu" id="child_menu_04">
                                    <li><a href="organization_Bonus.html">組織獎金</a></li>
                                    <li><a href="#">直客獎金</a></li>
                                </ul>
                            </li>
                            <li><a href="#">發佣明細<span class="arrow_down"></span></a>
                                <ul class="sub-menu" id="child_menu_05">
                                    <li><a href="#">佣金存入/提款<span class="tip_txt">1</span></a></li>
                                    <li><a href="#">存提款紀錄</a></li>
                                    <li><a href="#">客戶交易報表</a></li>
                                </ul>
                            </li>
                            <li class="end"><a href="#">客戶資金管理<span class="arrow_down"></span></a>
                                <ul class="sub-menu" id="child_menu_06">
                                    <li><a href="#">出入金管理</a></li>
                                    <li><a href="#">入金管理<span class="tip_txt">1</span></a></li>
                                    <li><a href="#">出金管理<span class="tip_txt">1</span></a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#">贈金專案<span class="tip_txt">3</span></a>
                        <ul class="sub-menu sub-menu_03" id="Sub_menu_03">
                            <li><a href="#">新增大IB群組</a></li>
                            <li><a href="#">人員審核<span class="arrow_down"></span></a>
                                <ul class="sub-menu" id="child_menu_03_2">
                                    <li><a href="#">客戶開戶審核<span class="tip_txt">1</span></a></li>
                                    <li><a href="#">顧問開戶審核<span class="tip_txt">1</span></a></li>
                                </ul>
                            </li>
                            <li><a href="#">人員管理<span class="arrow_down"></span></a>
                                <ul class="sub-menu" id="child_menu_03_3">
                                    <li><a href="#">大IB管理</a></li>
                                    <li><a href="#">顧問管理</a></li>
                                    <li><a href="#">客戶管理</a></li>
                                </ul>
                            </li>
                            <li><a href="#">獎金報表</a></li>
                            <li><a href="#">客戶利息報表</a></li>
                            <li><a href="#">發佣明細<span class="arrow_down"></span></a>
                                <ul class="sub-menu" id="child_menu_03_6">
                                    <li><a href="#">佣金存入/提款<span class="tip_txt">1</span></a></li>
                                    <li><a href="#">存提款紀錄</a></li>
                                </ul>
                            </li>
                            <li class="end"><a href="#">客戶資金管理<span class="arrow_down"></span></a>
                                <ul class="sub-menu" id="child_menu_03_7">
                                    <li><a href="#">出入金管理</a></li>
                                    <li><a href="#">入金管理<span class="tip_txt">1</span></a></li>
                                    <li><a href="#">出金管理<span class="tip_txt">1</span></a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="clr"></div>-->
            <!------------------桌機版menu end----------------->
            
            <!--套用bootstrap 桌機版menu start-->
            <div class="dropdown">
                <a id="dLabel" role="button" data-toggle="dropdown" class="btn btn-primary" data-target="#" href="/page.html">
                    MT4專案<span class="caret"></span>
                </a>
                <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                  <li><a href="#">Some action</a></li>
                  <li><a href="#">Some other action</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-submenu">
                  	<a tabindex="-1" href="#">Hover me for more options</a>
                  	<ul class="dropdown-menu">
                    	<li><a tabindex="-1" href="#">Second level</a></li>
                      	<li><a href="#">Even More..</a> </li>
                      	<li><a href="#">Second level</a></li>
                      	<li><a href="#">Second level</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Some other action</a></li>
                  <li><a href="#">Some other action</a></li>
                </ul>
            </div>
            <!--套用bootstrap 桌機版menu end---->
            <!--套用RWD 桌機版menu start-->
            <!--<nav id='cssmenu'>
                <div class="logo"><a href="index.html">Responsive </a></div>
                <div id="head-mobile"></div>
                <div class="button"></div>
                <ul>
                <li class='active'><a href='#'>HOME</a></li>
                <li><a href='#'>行政管理</a></li>
                <li><a href='#'>MT4專案</a>
                   <ul>
                      <li><a href='#'>新增大IB群組</a>
                         <ul>
                            <li><a href='#'>Sub Product</a></li>
                            <li><a href='#'>Sub Product</a></li>
                         </ul>
                      </li>
                      <li><a href='#'>人員審核</a>
                         <ul>
                            <li><a href='customer_Account_Check.html'>客戶開戶審核</a></li>
                            <li><a href='#'>顧問開戶審核</a></li>
                            <li><a href='Sub_Account_Check.html'>子帳號開戶審核</a></li>
                         </ul>
                      </li>
                   </ul>
                </li>
                <li><a href='#'>贈金專案</a></li>
                </ul>
			</nav>-->
            <!--套用RWD 桌機版menu start-->                   
            
			<div class="clearfix"> </div>
		</div>
		</div>

	</div>

	

<!--content start-->
<div class="content content_BG">
	<div class="container">
    	<!---開始-->
        <div class="wrapper">
            <h1>MT4客戶管理</h1>
            
            <div class="contentGroup">                
                                
                <div class="Table_Layout">
                    
                    <form id="customer_Manage_form" action="" method="post"> 
                        <!--表格內容start-->
                        <table id="myTable" class="cell-border display nowrap dataTable dtr-inline table_style" cellspacing="0" width="" role="grid" aria-describedby="example_info" style="width: 100%;">
                            <thead>
                                <tr role="row" class="BG_Gray">
                                	<th class="sorting Color_Gray min_Width" tabindex="0" aria-controls="example" rowspan="1" colspan="1">客戶帳號</th>
                                    <th id="" class="sorting Color_Gray min_Width" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="">客戶姓名</th>
                                    <th id="" class="sorting_asc Color_Gray" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-sort="ascending">開戶日期</th>
                                    <th id="" class="sorting Color_Gray" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 150px;">累積入金</th> 
                                    <th id="" class="sorting_asc Color_Gray" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-sort="">餘額</th> 
                                    <th id="" class="sorting Color_Gray" tabindex="0" aria-controls="example" rowspan="1" colspan="1">狀態</th>   
                                    <th id="" class="sorting_asc Color_Gray" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-sort="">明細</th>                                                                    
                                    <th id="" class="dt-body-right sorting Color_Gray" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 79px;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr role="row" class="odd parent">
                                	<td class="txt_Bold">AE3210695</td>
                                    <td class="txt_Weight">范小小</td>
                                    <td class="sorting_1">2016/01/01 12:55:33</td>
                                    <td><span class="sorting_1">10000.000</span></td>
                                    <td class="sorting_1">9999.94</td>
                                    <td><span class="sorting_1">ok</span></td>
                                    <td class="sorting_1">
                                    	<div class="btn-group btn-group-justified btn_Width btn_Width_100">					
                                            <a type="button" class="btn btn-success bg-lg Gradient_Green btn_Multiple_Account_Manage" href="#">明細</a>
                                        </div>
                                    </td>                                    
                                    <td class=" dt-body-right sorting_1">
                                        <div class="btn-group btn-group-justified btn_Width btn_Width_100">					
                                            <a type="button" class="btn btn-success bg-lg Gradient_Blue btn_Modify" href="#">修改</a>
                                        </div>
                                        <br/>
                                        <div class="btn-group btn-group-justified btn_Width btn_Width_100">					
                                            <a type="button" class="btn btn-success bg-lg Gradient_Orange btn_Multiple_Account_Manage" href="customer_Manage_Multiple_Account.html">多帳號管理</a>
                                        </div>
                                    </td>
                                </tr>
                                <tr role="row" class="even">
                                	<td class="txt_Bold">AE5110012</td>
                                    <td class="txt_Weight">王大明</td>
                                    <td class="sorting_1">2016/01/01 12:55:33</td>
                                    <td><span class="sorting_1">10000.000</span></td>
                                    <td class="sorting_1">9999.94</td>
                                    <td><span class="sorting_1">ok</span></td>
                                    <td class="sorting_1">
                                    	<div class="btn-group btn-group-justified btn_Width btn_Width_100">					
                                            <a type="button" class="btn btn-success bg-lg Gradient_Green btn_Multiple_Account_Manage" href="#">明細</a>
                                        </div>
                                    </td>                                    
                                    <td class=" dt-body-right sorting_1">
                                        <div class="btn-group btn-group-justified btn_Width btn_Width_100">					
                                            <a type="button" class="btn btn-success bg-lg Gradient_Blue btn_Modify" href="#">修改</a>
                                        </div>
                                        <br/>
                                        <div class="btn-group btn-group-justified btn_Width btn_Width_100">					
                                            <a type="button" class="btn btn-success bg-lg Gradient_Orange btn_Multiple_Account_Manage" href="customer_Manage_Multiple_Account.html">多帳號管理</a>
                                        </div>
                                    </td>
                                </tr>
                                <tr role="row" class="odd">
                                	<td class="txt_Bold">AE3210684</td>
                                    <td class="txt_Weight">林小華</td>
                                    <td class="sorting_1">2016/01/01 12:55:33</td>
                                    <td><span class="sorting_1">10000.000</span></td>
                                    <td class="sorting_1">9999.94</td>
                                    <td><span class="sorting_1">ok</span></td>
                                    <td class="sorting_1">
                                    	<div class="btn-group btn-group-justified btn_Width btn_Width_100">					
                                            <a type="button" class="btn btn-success bg-lg Gradient_Green btn_Multiple_Account_Manage" href="#">明細</a>
                                        </div>
                                    </td>                                   
                                    <td class=" dt-body-right sorting_1">
                                        <div class="btn-group btn-group-justified btn_Width btn_Width_100">					
                                            <a type="button" class="btn btn-success bg-lg Gradient_Blue btn_Modify" href="#">修改</a>
                                        </div>
                                        <br/>
                                        <div class="btn-group btn-group-justified btn_Width btn_Width_100">					
                                            <a type="button" class="btn btn-success bg-lg Gradient_Orange btn_Multiple_Account_Manage" href="customer_Manage_Multiple_Account.html">多帳號管理</a>
                                        </div>
                                    </td>
                                </tr>
                                <tr role="row" class="even">
                                	<td class="txt_Bold">AE3210695</td>
                                    <td class="txt_Weight">范小小</td>
                                    <td class="sorting_1">2016/01/01 12:55:33</td>
                                    <td><span class="sorting_1">10000.000</span></td>
                                    <td class="sorting_1">9999.94</td>
                                    <td><span class="sorting_1">ok</span></td>
                                    <td class="sorting_1">
                                    	<div class="btn-group btn-group-justified btn_Width btn_Width_100">					
                                            <a type="button" class="btn btn-success bg-lg Gradient_Green btn_Multiple_Account_Manage" href="#">明細</a>
                                        </div>
                                    </td>                                  
                                    <td class=" dt-body-right sorting_1">
                                        <div class="btn-group btn-group-justified btn_Width btn_Width_100">					
                                            <a type="button" class="btn btn-success bg-lg Gradient_Blue btn_Modify" href="#">修改</a>
                                        </div>
                                        <br/>
                                        <div class="btn-group btn-group-justified btn_Width btn_Width_100">					
                                            <a type="button" class="btn btn-success bg-lg Gradient_Orange btn_Multiple_Account_Manage" href="customer_Manage_Multiple_Account.html">多帳號管理</a>
                                        </div>
                                    </td>
                                </tr>
                                <tr role="row" class="odd">
                                	<td class="txt_Bold">AE5110012</td>
                                    <td class="txt_Weight">王大明</td>
                                    <td class="sorting_1">2016/01/01 12:55:33</td>
                                    <td><span class="sorting_1">10000.000</span></td>
                                    <td class="sorting_1">9999.94</td>
                                    <td><span class="sorting_1">ok</span></td>
                                    <td class="sorting_1">
                                    	<div class="btn-group btn-group-justified btn_Width btn_Width_100 ">					
                                            <a type="button" class="btn btn-success bg-lg Gradient_Green btn_Multiple_Account_Manage" href="#">明細</a>
                                        </div>
                                    </td>                                    
                                    <td class=" dt-body-right sorting_1">
                                        <div class="btn-group btn-group-justified btn_Width btn_Width_100">					
                                            <a type="button" class="btn btn-success bg-lg Gradient_Blue btn_Modify" href="#">修改</a>
                                        </div>
                                        <br/>
                                        <div class="btn-group btn-group-justified btn_Width btn_Width_100">					
                                            <a type="button" class="btn btn-success bg-lg Gradient_Orange btn_Multiple_Account_Manage" href="customer_Manage_Multiple_Account.html">多帳號管理</a>
                                        </div>
                                    </td>
                                </tr>
                                <tr role="row" class="even">
                                	<td class="txt_Bold">AE3210695</td>
                                    <td class="txt_Weight">林小華</td>
                                    <td class="sorting_1">2016/01/01 12:55:33</td>
                                    <td><span class="sorting_1">10000.000</span></td>
                                    <td class="sorting_1">9999.94</td>
                                    <td><span class="sorting_1">ok</span></td>
                                    <td class="sorting_1">
                                    	<div class="btn-group btn-group-justified btn_Width btn_Width_100">					
                                            <a type="button" class="btn btn-success bg-lg Gradient_Green btn_Multiple_Account_Manage" href="#">明細</a>
                                        </div>
                                    </td>                                   
                                    <td class=" dt-body-right sorting_1">
                                        <div class="btn-group btn-group-justified btn_Width btn_Width_100">					
                                            <a type="button" class="btn btn-success bg-lg Gradient_Blue btn_Modify" href="#">修改</a>
                                        </div>
                                        <br/>
                                        <div class="btn-group btn-group-justified btn_Width btn_Width_100">					
                                            <a type="button" class="btn btn-success bg-lg Gradient_Orange btn_Multiple_Account_Manage" href="customer_Manage_Multiple_Account.html">多帳號管理</a>
                                        </div>
                                    </td>
                                </tr>
                                <tr role="row" class="odd">
                                	<td class="txt_Bold">AE3210684</td>
                                    <td class="txt_Weight">蔡小婷</td>
                                    <td class="sorting_1">2016/01/01 12:55:33</td>
                                    <td><span class="sorting_1t">10000.000</span></td>
                                    <td class="sorting_1">9999.94</td>
                                    <td><span class="sorting_1">ok</span></td>
                                    <td class="sorting_1">
                                    	<div class="btn-group btn-group-justified btn_Width btn_Width_100 ">					
                                            <a type="button" class="btn btn-success bg-lg Gradient_Green btn_Multiple_Account_Manage" href="#">明細</a>
                                        </div>
                                    </td>                                   
                                    <td class=" dt-body-right sorting_1">
                                        <div class="btn-group btn-group-justified btn_Width btn_Width_100">					
                                            <a type="button" class="btn btn-success bg-lg Gradient_Blue btn_Modify" href="#">修改</a>
                                        </div>
                                        <br/>
                                        <div class="btn-group btn-group-justified btn_Width btn_Width_100">					
                                            <a type="button" class="btn btn-success bg-lg Gradient_Orange btn_Multiple_Account_Manage" href="customer_Manage_Multiple_Account.html">多帳號管理</a>
                                        </div>
                                    </td>
                                </tr>
                                <tr role="row" class="even">
                                	<td class="txt_Bold">AE3210695</td>
                                    <td class="txt_Weight">劉小雯</td>
                                    <td class="sorting_1">2016/01/01 12:55:33</td>
                                    <td><span class="sorting_1">10000.000</span></td>
                                    <td class="sorting_1">9999.94</td>
                                    <td><span class="sorting_1">ok</span></td>
                                    <td class="sorting_1">
                                    	<div class="btn-group btn-group-justified btn_Width btn_Width_100 ">					
                                            <a type="button" class="btn btn-success bg-lg Gradient_Green btn_Multiple_Account_Manage" href="#">明細</a>
                                        </div>
                                    </td>                                   
                                    <td class=" dt-body-right sorting_1">
                                        <div class="btn-group btn-group-justified btn_Width btn_Width_100">					
                                            <a type="button" class="btn btn-success bg-lg Gradient_Blue btn_Modify" href="#">修改</a>
                                        </div>
                                        <br/>
                                        <div class="btn-group btn-group-justified btn_Width btn_Width_100">					
                                            <a type="button" class="btn btn-success bg-lg Gradient_Orange btn_Multiple_Account_Manage" href="customer_Manage_Multiple_Account.html">多帳號管理</a>
                                        </div>
                                    </td>
                                </tr>
                                <tr role="row" class="odd">
                                	<td class="txt_Bold">AE5110012</td>
                                    <td class="txt_Weight">林小華</td>
                                    <td class="sorting_1">2016/01/01 12:55:33</td>
                                    <td><span class="sorting_1">10000.000</span></td>
                                    <td class="sorting_1">9999.94</td>    
                                    <td><span class="sorting_1s">ok</span></td> 
                                    <td class="sorting_1">
                                    	<div class="btn-group btn-group-justified btn_Width btn_Width_100 ">					
                                            <a type="button" class="btn btn-success bg-lg Gradient_Green btn_Multiple_Account_Manage" href="#">明細</a>
                                        </div>
                                    </td>                                        
                                    <td class=" dt-body-right sorting_1">
                                        <div class="btn-group btn-group-justified btn_Width btn_Width_100">					
                                            <a type="button" class="btn btn-success bg-lg Gradient_Blue btn_Modify" href="#">修改</a>
                                        </div>
                                        <br/>
                                        <div class="btn-group btn-group-justified btn_Width btn_Width_100">					
                                            <a type="button" class="btn btn-success bg-lg Gradient_Orange btn_Multiple_Account_Manage" href="customer_Manage_Multiple_Account.html">多帳號管理</a>
                                        </div>
                                    </td>
                                </tr>
                                <tr role="row" class="even">
                                	<td class="txt_Bold">AE3210684</td>
                                    <td class="txt_Weight">王大明</td>
                                    <td class="sorting_1">2016/01/01 12:55:33</td>
                                    <td><span class="sorting_1">10000.000</span></td> 
                                    <td class="sorting_1">9999.94</td> 
                                    <td><span class="sorting_1">ok</span></td>  
                                    <td class="sorting_1">
                                    	<div class="btn-group btn-group-justified btn_Width btn_Width_100 ">					
                                            <a type="button" class="btn btn-success bg-lg Gradient_Green btn_Multiple_Account_Manage" href="#">明細</a>
                                        </div>
                                    </td>                                                    
                                    <td class=" dt-body-right sorting_1">
                                        <div class="btn-group btn-group-justified btn_Width btn_Width_100">					
                                            <a type="button" class="btn btn-success bg-lg btn_Width_100 Gradient_Blue btn_Modify" href="#">修改</a>
                                        </div>
                                        <br/>
                                        <div class="btn-group btn-group-justified btn_Width btn_Width_100">					
                                            <a type="button" class="btn btn-success bg-lg Gradient_Orange btn_Multiple_Account_Manage" href="customer_Manage_Multiple_Account.html">多帳號管理</a>
                                        </div>
                                    </td>
                                </tr>
                                 <tr role="row" class="odd">
                                	<td class="txt_Bold">AE3210684</td>
                                    <td class="txt_Weight">王大明</td>
                                    <td class="sorting_1">2016/01/01 12:55:33</td>
                                    <td><span class="sorting_1">10000.000</span></td> 
                                    <td class="sorting_1">9999.94</td>    
                                    <td><span class="sorting_1">ok</span></td>
                                    <td class="sorting_1">
                                    	<div class="btn-group btn-group-justified btn_Width btn_Width_100 ">					
                                            <a type="button" class="btn btn-success bg-lg Gradient_Green btn_Multiple_Account_Manage" href="#">明細</a>
                                        </div>
                                    </td>                                                               
                                    <td class=" dt-body-right sorting_1">
                                        <div class="btn-group btn-group-justified btn_Width btn_Width_100">					
                                            <a type="button" class="btn btn-success bg-lg Gradient_Blue btn_Modify" href="#">修改</a>
                                        </div>
                                        <br/>
                                        <div class="btn-group btn-group-justified btn_Width btn_Width_100">					
                                            <a type="button" class="btn btn-success bg-lg Gradient_Orange btn_Multiple_Account_Manage" href="customer_Manage_Multiple_Account.html">多帳號管理</a>
                                        </div>
                                    </td>
                                </tr>
                                <tr role="row" class="even">
                                	<td class="txt_Bold">AE3210684</td>
                                    <td class="txt_Weight">王大明</td>
                                    <td class="sorting_1">2016/01/01 12:55:33</td>
                                    <td><span class="sorting_1">10000.000</span></td>
                                    <td class="sorting_1">9999.94</td>   
                                    <td><span class="sorting_1">ok</span></td>  
                                    <td class="sorting_1">
                                    	<div class="btn-group btn-group-justified btn_Width btn_Width_100 ">					
                                            <a type="button" class="btn btn-success bg-lg Gradient_Green btn_Multiple_Account_Manage" href="#">明細</a>
                                        </div>
                                    </td>                                                 
                                    <td class=" dt-body-right sorting_1">
                                        <div class="btn-group btn-group-justified btn_Width btn_Width_100">					
                                            <a type="button" class="btn btn-success bg-lg Gradient_Blue btn_Modify" href="#">修改</a>
                                        </div>
                                        <br/>
                                        <div class="btn-group btn-group-justified btn_Width btn_Width_100">					
                                            <a type="button" class="btn btn-success bg-lg Gradient_Orange btn_Multiple_Account_Manage" href="customer_Manage_Multiple_Account.html">多帳號管理</a>
                                        </div>
                                    </td>
                                </tr>
                             </tbody>
                        </table>
                        <!--表格內容end---->                       
                                    
                    </form>
                </div>
            </div>
        </div>	        
               
		<!--結束--->

	</div>	
</div>
<!--content end-->


<!--footer start-->
<div class="footer">
	<div class="footer-class">
		<p>Copyright &copy; 2016 <a href="#">GALLOP Studio</a>. All rights reserved.</p>
	</div>
</div>
<!--footer end-->

<!--引用Google CDN jQuery-->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

<script type="text/javascript" src="js/bootstrap.min.js"></script>

<!--引用 date table JS-->
<script type="text/javascript" src="js/jquery.dataTables.min.js"></script>
<!--引用 RWD table JS-->
<script type="text/javascript" src="js/dataTables.responsive.min.js"></script>

<!-- menu -->
<script src="js/menu.js"></script> 
<!--phone_Menu手機版選單-->
<script type="text/javascript" src="js/phone_Menu.js"></script>

<!--引用 bootstrap 頁碼 style-->
<script type="text/javascript" src="js/jquery.pagination.js"></script> 

<!--修改 引用的data table 的功能-->
<script>
$(document).ready( function () {
		/*$(document).ready(function() {
			$('#myTable').DataTable( {
				responsive : true, //打開 #myTable表格RWD 的功能
				paging:   false, //關掉 檔案原來的頁碼功能
				ordering: false, //關掉 檔案原來的 排序功能
				info:     false //關掉 檔案原來的info功能
			} );
		} );*/
		$('#myTable').DataTable({ //讓#myTable 執行DataTable 函式套件
        // order : [[ 0, 'asc' ]], asc是遞增；第一欄排序功能是往下遞增
        responsive : true, //打開 #myTable表格RWD 的功能
		paging:   true,
        searching : true, //打開原有的search功能
		info:     true,
		filter:     true,
        ordering :   true, //打開 排序功能
        language : {
            lengthMenu : "顯示 _MENU_ 筆記錄",
            zeroRecords : "無符合資料",
            info : "目前記錄：_START_ 至 _END_, 總筆數：_TOTAL_",
            infoEmpty : "目前記錄： 0 至 0 , 總筆數：0",
            paginate : {
                first : "第一頁",
                last : "最後一頁",
                next : "Next",
                previous : "Previous"
            }
        }
    });

});
</script>

<!--修改 引用的bootstrap 頁碼 的功能-->
<script>
$(function() { 
	$('#pagination_sm').pagination({ //讓#pagination_sm 執行pagination 函式套件
		first:'«', //修改first為 << 頁碼文字
		last:'»', //修改last為 >> 頁碼文字
        totalPages: 20, //總頁數20頁
        visiblePages: 2, //顯示2頁
        onPageClick: function (event, page) { //按頁碼之後會執行的事
            $('#page-content_sm').text('Page ' + page);
        }
    });
});
</script>

<script>
(function($) {
$.fn.menumaker = function(options) {  
 var cssmenu = $(this), settings = $.extend({
   format: "dropdown",
   sticky: false
 }, options);
 return this.each(function() {
   $(this).find(".button").on('click', function(){
     $(this).toggleClass('menu-opened');
     var mainmenu = $(this).next('ul');
     if (mainmenu.hasClass('open')) { 
       mainmenu.slideToggle().removeClass('open');
     }
     else {
       mainmenu.slideToggle().addClass('open');
       if (settings.format === "dropdown") {
         mainmenu.find('ul').show();
       }
     }
   });
   cssmenu.find('li ul').parent().addClass('has-sub');
multiTg = function() {
     cssmenu.find(".has-sub").prepend('<span class="submenu-button"></span>');
     cssmenu.find('.submenu-button').on('click', function() {
       $(this).toggleClass('submenu-opened');
       if ($(this).siblings('ul').hasClass('open')) {
         $(this).siblings('ul').removeClass('open').slideToggle();
       }
       else {
         $(this).siblings('ul').addClass('open').slideToggle();
       }
     });
   };
   if (settings.format === 'multitoggle') multiTg();
   else cssmenu.addClass('dropdown');
   if (settings.sticky === true) cssmenu.css('position', 'fixed');
resizeFix = function() {
  var mediasize = 700;
     if ($( window ).width() > mediasize) {
       cssmenu.find('ul').show();
     }
     if ($(window).width() <= mediasize) {
       cssmenu.find('ul').hide().removeClass('open');
     }
   };
   resizeFix();
   return $(window).on('resize', resizeFix);
 });
  };
})(jQuery);

(function($){
$(document).ready(function(){
$("#cssmenu").menumaker({
   format: "multitoggle"
});
});
})(jQuery);
</script>

</body>
</html>
			